DATABASE_URL=postgresql+asyncpg://tfg_user:tfg_pass@db:5432/tfg_monitor
SECRET_KEY=cambia_esto_por_una_clave_segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
APP_NAME=TFG Monitor
DEBUG=False
GEMINI_API_KEY=tu_clave_de_gemini_aqui